@model ProjetWeb.Models.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="fw-bold text-decoration-underline">Modifier la commande</h1>
<a class="w-50 text-decoration-none text-black pb-2" asp-action="Index"><img src="~/img/back.png" width="30px" height="30px" />Retour à la liste</a>

<div class="w-50 row">
    <div>
        <form asp-action="Edit" class="border border-primary border-4 rounded-3 bg-white">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-floating mx-auto p-2">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-floating mx-auto p-2">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-floating mx-auto p-2">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>

            <div class="form-floating mx-auto p-2">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>

            <div class="form-floating mx-auto p-2">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            
            <div class="form-floating mx-auto p-2">
                <input type="submit" value="sauvegarder" class="btn btn-primary p-2" />
            </div>
        </form>
    </div>
</div>
@section Footer{
    <partial name="_FooterPartial" />
}
3