@model ProjetWeb.ViewModels.ListDriverViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="fw-bold text-decoration-underline pb-3">Information conducteur</h1>
<a class="w-50 text-decoration-none text-black pb-2" asp-action="Index"><img src="~/img/back.png" width="30px" height="30px" />Retour à la liste</a>
<div class="w-50 bg-white border border-3 border-primary rounded-3 p-2">
    <div class="d-flex justify-content-end">
        <a class="p-3" asp-action="Edit" asp-route-id="@Model?.Id"><img src="~/img/edit.png" width="50px" height="50px" /></a>
    </div>
     <dl class="row">
        <dt class="col-sm-5">
            Nom
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-5">
            Matricule
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.Matricule)
        </dd>
        <dt class="col-sm-5">
            Email
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-5">
            Permis
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.License)
        </dd>
    </dl>
</div>
