@{
    ViewData["Title"] = "Home Page";
}


<h1 class="fw-bold text-decoration-underline pb-3">Bienvenue sur Helmo'bilité</h1>

<partial name="_CarouselTruck" />

@section Footer{
    <partial name="_FooterPartial" />
}