<li class="nav-item d-inline-flex  align-items-center mr-2">
    <a class="nav-link link-dark" id="customerAdmin" asp-area="" asp-controller="CustomerAdmin" asp-action="Index">Liste Clients</a>
</li>
<li class="nav-item d-inline-flex  align-items-center mr-2">
    <a class="nav-link link-dark" id="driverAdmin" asp-area="" asp-controller="DriverAdmin" asp-action="Index">Liste Conducteurs</a>
</li>
<li class="nav-item d-inline-flex  align-items-center mr-2">
    <a class="nav-link link-dark" id="statAdmin" asp-area="" asp-controller="StatAdmin" asp-action="Index">Stat livraisons</a>
</li>
<li class="nav-item d-inline-flex  align-items-center mr-2">
    <a class="nav-link link-dark" id="truckAdmin" asp-area="" asp-controller="TruckAdmin" asp-action="Index">Camions</a>
</li>