<div id="Truck" class="d-flex flex-row w-50 m-5" data-bs-ride="carousel">
    <img id="ecran" class="w-50 h-50" src="~/img/Truck1.jpg" alt="">
    <p>une flotte avec les derniers camions les plus modernes du monde toujours présente</p>
</div>
<div id="Driver" class="d-flex flex-row w-50 m-5" data-bs-ride="carousel">
    <p>Des chauffeurs expérimentés qui chargeront et déchargeront vos livraisons</p>
    <img id="ecran" class="w-50 h-50" src="~/img/chauffeur.jpg" alt="">
</div>
<div id="Group" class="d-flex flex-row w-50 m-5" data-bs-ride="carousel">
    <img id="ecran" class="w-50 h-50" src="~/img/group.jpg" alt="">
    <p>une équipe toujours présente pour résoudre tous vos problèmes</p>
</div>