<footer class="bg-secondary p-5">
    <section class="d-flex justify-content-around w-100">
        <activity>
            <h4>Information sur nous</h4>
            <ul>
                <li class="nav-item mr-2">Transport principal en Europe</li>
                <li class="nav-item mr-2">Transport dans toute l'Europe</li>
                <li class="nav-item mr-2">plus de 100 conducteurs</li>
                <li class="nav-item mr-2">plus de 100 camions</li>
                <li class="nav-item mr-2">service à l'écoute 18h/24h 6j/7j</li>
                <li class="nav-item mr-2">client toujours satisfait ou pas remboursé</li>
                <li class="nav-item mr-2">j'ai pas d'idée de fin</li>
            </ul>
        </activity>

        <activity>
            <h4>Nos partenaires</h4>
            <ul>
                <li class="nav-item mr-2">Helmo</li>
                <li class="nav-item mr-2">La Wallonie</li>
                <li class="nav-item mr-2">Iveco</li>
                <li class="nav-item mr-2">Scania</li>
                <li class="nav-item mr-2">votre maman chérie</li>
            </ul>
        </activity>

        <activity>
            <h4>Nos contact</h4>
            <ul>
                <li class="nav-item mr-2">Youtube</li>
                <li class="nav-item mr-2">Twitter</li>
                <li class="nav-item mr-2">Instagram</li>
                <li class="nav-item mr-2">FaceBook</li>
                <li class="nav-item mr-2">Tinder</li>
            </ul>
        </activity>

    </section>
    <p class="d-flex justify-content-center">© 2022-2023, HelmoBilité.com Inc. ou ses affiliés</p>
</footer>