@model RegisterModel


<div id="DriverForm">

    <div class="form-floating mx-auto p-2">
        <select asp-for="Input.License" class="form-control" aria-required="true">
            <option>C</option>
            <option>CE</option>
        </select>
        <label asp-for="Input.License" class="form-label"></label>
        <span asp-validation-for="Input.License" class="text-danger"></span>
    </div>
</div>