@page
@model LoginModel

@{
    ViewData["Title"] = "se connecter";
}

<h1 class="fw-bold text-decoration-underline">@ViewData["Title"]</h1>
<div class="row">
    <div>
        <section>
            <h2>Entrer votre email et mot de passe.</h2>
            <form id="account" class="border border-primary border-4 rounded-3 bg-white" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mx-auto p-2">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mx-auto p-2">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label">Mot de passe</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox mx-auto p-2">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="p-2">
                    <button id="login-submit" type="submit" class="btn btn-lg btn-primary p-2">se connecter</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
