@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1>Édition profile</h1>

    <div class="row w-25">
        <div class="w-100">
            @RenderBody()
        </div>
    </div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
